*{
    font-family: "Roboto", sans-serif;
}
.sec1{
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
}
.sec1name{
    font-size: 80px;
    font-weight: 700;
}
.sec1price{
    font-size: 30px;
    color: rgb(6, 224, 119);
}
.sec1price b{
    color: black;
}
.sec1stars{
    color: orange;
}
.sec1about{
    text-decoration: underline;
    text-decoration-style: solid;
}
.sec1size{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.sz button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px ;
    padding-bottom:5px  ;
    font-size: 15px;
    background-color: white;

}
.sz button:hover {
    background-color: black;
    font-size: 15px;
    color: white;
    animation-name: disco;
    animation-duration:1000000s;
}
 @keyframes disco{
    to{
         font-size:15px ;
         color: white;
         background-color: black;
    }
    from{
        font-size:15px ;
        color: white;
        background-color: black;
    }
} 